<ion-content id="mi-pagina" >

  <div id="img_logo_duoc_prop">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"></ion-img>
  </div>
  <div id="letras_logo_duoc_prop">
    <ion-text>Centro de asistencias DuocUC</ion-text>
  </div>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" routerLink="/home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="document-text" routerLink="/miclase"></ion-icon>
      Mi clase
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>




</ion-content>
